<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %> <%- messages() %>
<br />
<% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<br />
<% } %>
<div class="form-container">
  <p class="form-advice">⚠️ Confirm Permanent Deletion. 🔴</p>
  <form action="/inv/delete" method="post">
    <div class="form-group">
      <label for="invMake">Make</label>
      <input
      id="invMake"
      name="inv_make" 
      type="text" 
      readonly 
      value="<%= locals.inv_make %>"
      >
    </div>

    <div class="form-group">
      <label for="invModel">Model</label>
      <input
      id="invModel"
      name="inv_model"  
      type="text" 
      readonly 
      value="<%= locals.inv_model %>" 
      >
    </div>

    <div class="form-group">
      <label for="invPrice">Price</label>
      <input
      id="invPrice"
      name="inv_price" 
      type="text" 
      readonly 
      value="<%= locals.inv_price %>"
      >
    </div>

    <div class="form-group">
      <label for="invYear">Year</label>
      <input
      id="invYear"
      name="inv_year" 
      type="text" 
      readonly 
      value="<%= locals.inv_year %>" 
      >
    </div>
    <button type="submit" class="btn-account">Delete Vehicle</button>
    <input type="hidden" name="inv_id"
    <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
    <% } %>>
  </form>
</div>
